<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xnzygxpt.setting.dao.dao.SettingMapper">

	<insert id="add" parameterType="Setting" useGeneratedKeys="true"
		keyProperty="settingid">
		insert into
		setting(tongzhi,tanchuang,delay) values
		('是','是','30')
	</insert>
	<update id="update" parameterType="Setting">
		update setting set
		tongzhi=#{tongzhi},tanchuang=#{tanchuang},delay=#{delay}
		where settingid=#{settingid}
	</update>
	<select id="queryByID" parameterType="int" resultType="Setting">
		select
		*
		from setting where settingid=#{settingid}
	</select>
</mapper>